.block-title {
  max-width: 46ch;
  font-size: var(--fs-600);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
