:host {
  padding: 2.2rem 2rem;
  background-color: var(--footer-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (width>960px) {
  :host {
    padding: 1.7rem 6rem;
  }
}
