.text-record {
  &__container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__text {
    width: 100%;
    display: block;
    padding: 0.5em 1em;
    font-size: var(--fs-400);
    line-height: 1;
    color: white;
    background-color: transparent;
    border: 1px solid var(--text-gray-color);
    border-radius: 3px;
  }
  &__buttons-container {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
  }
}
div.text-record__text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
textarea.text-record__text {
  resize: vertical;
  transition: all linear 200ms;
  &:focus-visible {
    border-color: var(--accent-color);
    outline: 2px solid var(--accent-color);
    outline-offset: 1px;
  }
}
