<button class="show-button__btn" #showButton (click)="show = !show">
  <p class="show-button__text">pokaż</p>
  <svg
    class="show-button__chevron{{ show ? ' show-button__chevron--down' : '' }}"
    viewBox="0 0 40 24"
    fill="none"
    stroke="#ffffff"
    alt="chevron icon"
  >
    <path
      d="M 4,19.660299 20,4.6602987 36,19.660299"
      style="stroke-linecap: round; stroke-width: 7; stroke-dasharray: none"
    />
  </svg>
</button>
<app-control-frame
  [button]="showButton"
  [show]="show"
  (closeControlFrame)="onCloseControlFrame()"
></app-control-frame>
