.third-block {
  &__text-container {
    text-align: center;
    min-height: 20rem;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
  }
  &__text-record {
    display: inline;
    font-size: var(--fs-300);
    color: var(--text-gray-color);
  }
  &__empty-info {
    font-size: var(--fs-500);
    color: var(--text-gray-color);
  }
}

@media (width>780px) {
  :host ::ng-deep h2.block-title {
    text-align: right;
  }
}
