.control-button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.3rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-gray-color);
  text-transform: uppercase;
  padding: 1.2rem 5.5rem;
  transition: all linear 200ms;
  cursor: pointer;
  &:hover {
    background: linear-gradient(
      135deg,
      rgba(205, 115, 0, 1) 33%,
      rgba(254, 157, 34, 1) 66%
    );
    color: white;
  }
}
