:host {
  display: none;
  opacity: 0;
  gap: 0.3rem;
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  translate: -50% calc(-100% - 4rem);
  background-color: rgb(243, 229, 229);
  border-radius: 2px;
  font-size: var(--fs-200);
  font-weight: 600;
  padding: 1.7rem 2rem;
  box-shadow: -5px 0 30px 5px rgba(0, 0, 0, 0.5),
    5px 0 30px 5px rgba(0, 0, 0, 0.5);
}
:host(.control-frame--show) {
  display: grid;
  opacity: 1;
  animation: fadeIn linear 200ms;
  -webkit-animation: fadeIn linear 200ms;
}
.control-frame {
  &__btn {
    display: flex;
    align-items: center;
    gap: 0.7em;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: color linear 200ms;
    &:hover {
      color: var(--accent-color);
    }
    &:hover &-chevron {
      stroke: var(--accent-color);
    }
  }
  &__btn-chevron {
    stroke: black;
    rotate: 90deg;
    height: 0.5em;
    transition: stroke linear 200ms;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (width>960px) {
  :host {
    translate: -50% calc(-100% - 4.8rem);
  }
}
