<button class="control-frame__btn" (click)="reset()">
  <svg
    class="control-frame__btn-chevron"
    viewBox="0 0 40 24"
    fill="none"
    stroke="#ffffff"
    alt="chevron icon"
  >
    <path
      d="M 4,19.660299 20,4.6602987 36,19.660299"
      style="stroke-linecap: round; stroke-width: 7; stroke-dasharray: none"
    />
  </svg>
  <p class="control-frame__btn-text">zresetuj ustawienia</p>
</button>
<button class="control-frame__btn" (click)="showName()">
  <svg
    class="control-frame__btn-chevron"
    viewBox="0 0 40 24"
    fill="none"
    stroke="#ffffff"
    alt="chevron icon"
  >
    <path
      d="M 4,19.660299 20,4.6602987 36,19.660299"
      style="stroke-linecap: round; stroke-width: 7; stroke-dasharray: none"
    />
  </svg>
  <p class="control-frame__btn-text">pokaż dane osobowe</p>
</button>
<button class="control-frame__btn" (click)="openLocalStorageCrudModal()">
  <svg
    class="control-frame__btn-chevron"
    viewBox="0 0 40 24"
    fill="none"
    stroke="#ffffff"
    alt="chevron icon"
  >
    <path
      d="M 4,19.660299 20,4.6602987 36,19.660299"
      style="stroke-linecap: round; stroke-width: 7; stroke-dasharray: none"
    />
  </svg>
  <p class="control-frame__btn-text">zarządzaj local storage</p>
</button>
