:host {
  display: block;
  position: relative;
  width: min-content;
  padding: 0.5rem 0.8rem;
  isolation: isolate;
  &:hover .footer-icon__frame {
    border-color: var(--accent-color);
    rotate: 90deg;
  }
  &:hover .footer-icon__text {
    color: var(--text-gray-color);
  }
}
.footer-icon {
  &__frame {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    aspect-ratio: 1;
    border: 1px solid var(--bg-color);
    transition: all linear 200ms;
  }
  &__text-container {
    line-height: 1.27;
  }
  &__text {
    font-size: var(--fs-700);
    color: var(--bg-color);
    text-transform: uppercase;
    transition: color linear 200ms;
  }
}

@media (width>960px) {
  .footer-icon__text {
    font-size: calc(var(--fs-700) * 1.25);
  }
}
