:host {
  margin-top: var(--header-height);
  background-color: var(--bg-color);
  padding: 2.2rem;
}
.content__title {
  position: relative;
  display: block;
  width: fit-content;
  font-size: var(--fs-800);
  font-weight: 400;
  margin: 0 auto 4rem auto;
  padding-bottom: 2rem;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    height: 1px;
    width: 80%;
    background-color: white;
  }
}
.content__blocks-container {
  display: grid;
  justify-items: center;
  gap: 3rem;
  & > * {
    max-width: 100%;
    min-width: 0;
  }
}
