:host {
  height: 100%;
  padding: 1.8rem 0;
}
.html-icon {
  &__link {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--html-icon-gray-color);
    transition: background-color linear 200ms;
    &:hover,
    &:focus-visible {
      background-color: var(--accent-color);
    }
  }
  &__icon {
    height: 60%;
  }
}
