<dialog
  id="localStorageCrudModal"
  class="local-storage-crud-modal__dialog"
  #localStorageCrudModal
>
  <button
    class="local-storage-crud-modal__close-btn"
    (click)="localStorageCrudModal.close()"
  ></button>
  <div class="local-storage-crud-modal__dialog-content">
    @for(textRecord of data; track textRecord.id){
    <app-text-record [textRecord]="textRecord"></app-text-record>
    }
    <button class="local-storage-crud-modal__add-btn" (click)="add()">
      dodaj
    </button>
  </div>
</dialog>
