.company-name__text {
  display: flex;
  color: var(--bg-color);
  font-size: 3rem;
  margin-left: 14rem;
  &::before,
  &::after {
    content: "";
    height: 1px;
    width: 5.5rem;
    background-color: var(--bg-color);
    margin: auto 5px;
  }
}

@media (width<780px) {
  .company-name__text {
    display: none;
  }
}
