:root {
  --header-color: #0b0c10;
  --bg-color: #2a2d36;
  --text-gray-color: #a2a8b4;
  --html-icon-gray-color: #303030;
  --accent-color: #e88200;
  --footer-color: #15161a;
  --header-height: 10.5rem;
}
