:root {
  // COLORS
  --header-color: #0b0c10;
  --bg-color: #2a2d36;
  --text-gray-color: #a2a8b4;
  --html-icon-gray-color: #303030;
  --accent-color: #e88200;
  --footer-color: #15161a;
  // TYPOGRAPHY
  --fs-200: 1.4rem;
  --fs-300: 1.6rem;
  --fs-400: 1.7rem;
  --fs-500: 1.8rem;
  --fs-600: 2rem;
  --fs-800: 3.2rem;
  // OTHERS
  --header-height: 10.5rem;
  --content-padding: 2.2rem;
}
